<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthplus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".fragments.WaterConsumptionFragment"
            android:label="@string/title_activity_water_consumption_fragment" >
        </activity>
        <activity
            android:name=".fragments.SleepFragment"
            android:label="@string/title_activity_sleep_fragment" >
        </activity>
        <activity
            android:name=".fragments.FoodFragment"
            android:label="@string/title_activity_food_fragment" >
        </activity>
        <activity
            android:name=".DataSharingSteps"
            android:label="@string/title_activity_data_sharing_steps" >
        </activity>
        <activity
            android:name=".UserQuery"
            android:label="@string/title_activity_user_query" >
        </activity>
        <activity
            android:name=".wifidirect.WiFiDirectActivity"
            android:label="@string/title_activity_wifidirect" >
        </activity>
        <activity android:name=".fragments.DatePickerFragment" >
        </activity>

        <service
            android:name=".wifidirect.FileTransferService"
            android:enabled="true" />

        <activity
            android:name="com.example.healthplus.wifidirect.SenderWifiActivity"
            android:label="@string/title_activity_sender_wifi" >
        </activity>
        <service
          android:name="com.example.healthplus.services.FileLocator"
          android:exported="false"/>
        <service
          android:name="com.example.healthplus.services.ResponseFileService"
          android:exported="false"/>
    </application>

</manifest>
